body{
  background: url(jungle)black no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 50% 50%;
}

#title{
  text-align: left;
  color: greenyellow;
  line-height: 25px;
  height: 8px;
  font-size: 3rem ;
  text-decoration: underline;

}

h3{
  text-decoration: underline;
}

.leftColumn{
  color: black;
}

.score{
  display: flex;
  justify-content: space-between;
}

.setBackground{

  background-color: rgb(138, 191, 138);
  border: 5px solid darkgreen;
}

img{
  display: block;
  width: 20%;
  margin: 0 auto;
}

.score {
  margin: 0px 275px;
}

button{
  display: inline;
  margin: 22px 100px;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  font-size: large;
}
#snakeBoard {
  border: 5px solid darkgreen;
  width: 650px;
  height: 650px;
  background-color: rgb(138, 191, 138);
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}
.snake{
  background-color:greenyellow;
  border: none;
}

.food{
  background-color: red;
  border: black solid 1px;
  border-radius: 50%;
}

#messageBoard {
  display: flex;
  justify-content: center;
}