body{
  background: url(jungle) black no-repeat;
  background-size: cover;
  text-align: center;
} 

h1{

  line-height: 400px;
  height: 200px;
}

img{
  width: 20%;
}

.center{
  display:block; 
  margin-left: auto;
  margin-right: auto;
}

button{
  margin: 50px;
  font-size: xx-large;
  border: none;
  background: transparent;
}

#playBtn {
  animation: blinker 2s linear infinite;
}
@keyframes blinker {
  50%{
    opacity: 0;
  }
}